<!--COMP229-w2021-TeamProject server/views/survey/edit.ejs; Dominators; 19Mar2021 -->

<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<!-- Content for the Edit Survey page -->
<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="bs-component">
        <div class="offset-md-3 col-md-6 "></div>
        <h1 class="text-center"><%= title %></h1>

        <form class="form" method="POST">
            <br><br>
            <div class="form-group">
                <label for="nameTextField">Survey Name</label>
                <input type="text" class="form-control"
                id="nameTextField"
                placeholder="Enter the survey Name"
                name="name" 
                value="<%= survey.name %>"
                required>
            </div>

            <div class="form-group">
                <label for="q1TextField">Question 1</label>
                <input type="text" class="form-control"
                id="q1TextField"
                placeholder="Enter Question 2"
                name="q1" 
                value="<%= survey.q1 %>"
                required>
            </div>

            <div class="form-group">
                <label for="q2TextField">Question 2</label>
                <input type="text" class="form-control"
                id="q2TextField"
                placeholder="Enter Question 2"
                name="q2" 
                value="<%= survey.q2 %>"
                >
            </div>

            <div class="form-group">
                <label for="q3TextField">Question 3</label>
                <input type="text" class="form-control"
                id="q3TextField"
                placeholder="Enter Question 3"
                name="q3" 
                value="<%= survey.q3 %>"
                >
            </div>

            <div class="form-group">
                <label for="q4TextField">Question 4</label>
                <input type="text" class="form-control"
                id="q4TextField"
                placeholder="Enter Question 4"
                name="q4" 
                value="<%= survey.q4 %>"
                >
            </div>

            <div class="form-group">
                <label for="q5TextField">Question 5</label>
                <input type="text" class="form-control"
                id="q5TextField"
                placeholder="Enter Question 5"
                name="q5" 
                value="<%= survey.q5 %>"
                >
            </div>

           <button class="btn btn-primary" type="submit">
            <i class="fas fa-edit"></i> Submit</button> 

            <a href="/surveys/delete/<%= survey._id %>" class="btn btn-danger">  
                <i class="fas fa-trash-alt"></i> Delete</a>

            <a href="/surveylist" class="btn btn-warning">
                <i class="fas fa-undo"></i> Cancel</a>
            
            <br><br><br><br>
        </form>
    </div>
</div>
    </div>
</div>



<%- include ../partials/bottom_nav.ejs %>  

<%- include ../partials/footer.ejs %>